@font-face {
    font-family: 'Digital-7';
    src: url('Digital7Italic-BW658.ttf') format('truetype');
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
}
.calcBody{
    display: flex;
    flex: 0 0 auto;
    width: 55vh;
    height: 80vh;
    border: outset black 8px;
    border-radius: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 36px;
    background-image: url('very-cool-image.jpg');
    background-size: cover;
    background-position: center 15%;
}
.calcName{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    align-items: flex-end;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    color:aliceblue;
}
#screen{
    flex: 0 0 auto;
    width: 96.5%;
    height: 15%;
    border: inset black 8px;
    border-radius: 16px;
    margin: 0 0 18px 0;
    box-sizing: border-box;
    background-color: rgb(190, 190, 190);
    font-family:'Digital-7';
    font-size: 5em;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: end;
}
.keypad{
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    height: 70%;
    border-radius: 16px;
    margin:18px 0 0 0;
    flex-direction: column;
}
.operatorButtons{
    display: flex;
    flex: 1;
    padding: 0 8px;
    gap: 8px;
}
.operator{
    flex: 1;
    font-size: 4em;
    border: outset black 4px;
    border-radius: 16px;
    background-color: rgb(105, 149, 245);
    background-image: url('funny4.jpg');
    background-position: center;
    background-size: cover;
    color: rgb(196, 47, 255);
    -webkit-text-stroke: 1px greenyellow;
}
.numAndEqual{
    display: flex;
    flex: 4;
    padding: 8px;
    box-sizing: border-box;
}
.numButtons{
    display: flex;
    flex: 3 1 auto;
    width: 75%;
    gap: 8px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.number{
    flex: 0 0 calc(33.33% - 8px);
    font-size: 3.5em;
    border: outset black 4px;
    border-radius: 16px;
    background-color: rgb(245, 196, 105);
    background-image: url('funny2.jpg');
    background-position: center;
    background-size: cover;
    color: rgb(196, 47, 255);
    -webkit-text-stroke: 1px greenyellow;
    text-align: center;
}
#equalButton{
    display: flex;
    flex: 0 0 auto;
    width: 23.5%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border: outset black 4px;
    border-radius: 16px;
    background-color: rgb(255, 106, 106);
    background-image: url('funny3.jpeg');
    background-position: center;
    background-size:cover;
    color: rgb(196, 47, 255);
    -webkit-text-stroke: 1px greenyellow;
}
