body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
}
.calcBody{
    display: flex;
    flex: 0 0 auto;
    width: 40vh;
    height: 80vh;
    border: solid black 1px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}
.keypad{

}
.operatorButtons{

}
.operator{

}
.numAndEqual{

}
.numButtons{

}
.number{

}
