body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
}
.calcBody{
    display: flex;
    flex: 0 0 auto;
    width: 55vh;
    height: 80vh;
    border: outset black 12px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 36px;
}
.calcName{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    align-items: flex-end;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
}
.screen{
    flex: 0 0 auto;
    width: 96.5%;
    height: 10%;
    border: solid black 1px;
    border-radius: 16px;
    margin: 0 0 12px 0;
}
.keypad{
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    height: 75%;
    border-radius: 16px;
    margin:12px 0 0 0;
    flex-direction: column;
}
.operatorButtons{
    display: flex;
    flex: 1;
    padding: 0 8px;
    gap: 8px;
}
.operator{
    flex: 1;
}
.numAndEqual{
    display: flex;
    flex: 4;
    
    padding: 8px;
    box-sizing: border-box;
    
}
.numButtons{
    display: flex;
    flex: 3 1 auto;
    width: 75%;
    gap: 8px;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}
.number{
    flex: 0 0 calc(33.33% - 8px);
}
#equalButton{
    display: flex;
    flex: 0 0 auto;
    width: 23.5%;
    box-sizing: border-box;
}
